<div style="overflow:hidden; width:100%">
  <%= image_tag("ipadmusik.jpeg", class: "img-fluid", style: "margin-top: -15em") %>
</div>

<div class="row mt-5">
  <div class="col-8 introduction" style="padding-left: 0px;">
    <h1>Blog</h1>
    <p>Blablabla</p>
  </div>

  <div class="col">
      <div class="column_right">
          <div class="d-none d-md-block">
              <div class="column_right">
        
                  <h3>Links</h2>
                  <p> <a href="/pages/links">Linksammlung</a> zu diversen Seiten die sich mit den Themen "Medien" und/oder "Informatik" und "Sonderpädagogik" auseinandersetzen. </p>

                  <h3>Unterricht</h2>
                  <p>Der Lehrplan 21 definiert im Fach "Medien und Informatik" ("Informatische Bildung") Kompetenzen für jeden Zyklus. Eine Broschüre der Volksschulämterkonferenz ergänzt den Lehrplan 21 zur Anwendung für Schülerinnen und Schüler mit komplexen Behinderungen. Mehr zum Fach "Medien und Informatik", zu der Broschüre und Links zu Unterrichtsbeispielen im Bereich <a href="/pages/lehrplan">Unterricht</a>.  </p>

                  <h3>Technologie, Hilfsmittel</h2>
                  <p> <a href="/pages/technologie_hilfsmittel">Neue Technologien</a>  ermöglichen Teilhabe, Selbstbestimmung und Autonomie in allen möglichen Bereichen: von Mobilität über Kommunikation bis zur Selbstversorgung.</p>

                  <h3>Apps</h2>
                  <p>Apps auf Tablets und Smartphones haben sich im Einsatz auf mehreren Ebenen bewährt: einerseits als Hilfsmittel zur Kompensation von Einschränkungen, zum Beispiel in der Lautsprache (-> Unterstützte Kommunikation). Anderseits gibt es viele Lernapps bei denen der Lerninhalt selber eingefügt werden kann - oft auch mit vielen Möglichkeiten zur Individualisierung.  <a href="/apps">Appsammlung</a>  </p>


              </div>
          </div>
      </div>
  </div>
</div>