<div style="overflow:hidden; width:100%">
    <%= image_tag("scratch_laptop.jpeg", class: "img-fluid", style: "margin-top: -25em") %>
</div>

<h1>Unterricht</h1>

<div>
    <h3>Lehrplan 21</h3>
    <p>Der Lehrplan 21 unterteilt den Fachbereich "Medien und Informatik" (im Kanton Solothurn "Informatische Bildung") in die Bereiche "Medien", "Informatik" und "Anwendungskompetenzen". Zu den Bereichen "Medien" und "Informatik" sind Kompetenzen aufbauend von Zyklus 1 bis Zyklus 3 beschrieben. Die Anwendungskompetenzen sind auf die anderen Fachbereiche (Sprache, Mathematik, NMG, Musik, und Gestalten) aufgeteilt und dort beschrieben. </p>



    <h3>Anwendung des Lehrplans 21 für Schülerinnen und Schüler mit komplexen Behinderungen</h3>
    <p>Die <a href="link" target="_blank" rel="noopener"> Broschüre </a> entstand unter dem Lead der Pädagogischen Hochschule Zürich in Kooperation mit der Hochschule für Heilpädagogik Zürich und wurde an der Plenarversammlung der Deutschschweizer Volksschulkonferenz am 14. Mai 2019 verabschiedet.  </p>

</div>

<div>
    <h3>Links</h3>
    <ul>lernsachen.blog</ul>
    <ul>https://www.mekis.ch/Instrumente/projekte.html</ul>
    <ul>http://www.bpb.de/lernen/projekte/inklusiv-politisch-bilden/214270/einfach-internet-online-leitfaeden</ul>
    <ul>http://www.bpb.de/lernen/projekte/inklusiv-politisch-bilden/230590/inklusive-medienbildung</ul>
    <ul>lernsachen.blog</ul>
</div>
