<h1>Technologie/ Hilfsmittel</h1>


<h4>Umweltsteuerung</h4>
<p>Augensteuerung (Microsoft Bedienungshilfen, Tobii), vernetztes Haus, Spracherkennung (Siri,usw) making-Szene: Orthesen aus 3D-Drucker für 3. Weltländer und find-a-maker </p>

<h4>Mobilität</h4>
<p>Navigation (google-maps: neue wege vorher ), SBB-App, autonomes Fahren</p>

<h4>Kommunikation</h4>
<p>Sprachmitteilung, emoji, Bilder senden, Sprache aus Hirnsignalen ableiten (https://www.n-tv.de/wissen/Forscher-leiten-Sprache-aus-Hirnsignalen-ab-article21181274.html?fbclid=IwAR13J2p61XQRYhRLA6MCosuSQmcc5Xe9VsaATTLq5P-BSgdi8ZuWCwuem5E / https://www.youtube.com/watch?v=PsBuxR10Ylo). Technologie schein noch nicht ausgereift.</p>

<h4>Analphabetismus</h4>
<p>vermehrt Bilder/ Pictogramme zur einfacheren Bedienung, Texterkennung und Vorlesen, Diktierfunktionen, Rechtschreibkorrektur</p>

<h4>Sicherheit</h4>
<p>Ortung, mobile Telefonie </p>

<h4>Virtual/ Augmented Reality</h4>
<p>Lernen, Unterstützung (bsp Anleitung Maschine flicken), Erlebnis (CP-Mann Amerika taucht) </p>

<p>Studie GDI "Robotik und Behinderung"</p>

<p>Adaptive gaming kit https://www.logitechg.com/en-gb/products/gamepads/adaptive-gaming-kit-accessories.html</p>


<p>Fazit: mehr Autonomie, Selbstbestimmung und Unabhängigkeit dank Technik </p>

